<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primera web con Nodejs</title>
    <% include partials/head.html %>
</head>

<body>

    <% include partials/navigation.html %>

    <section class="">
        <div class="container">
                <div class="pricing-header px-5 py-5 pt-md-5 pb-md-4 mx-auto text-center">
                    <img class="img-fluid" src="/img/developer.png" alt="" width="400" height="400">
                <h1 class="display-4 pb-md-3">Node JS</h1>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur delectus rem iure eius omnis ipsam reiciendis minima maxime quo ipsum quae, perferendis esse dignissimos magnam?</p>
              </div>
        </div>
    </section>

    <section class="py-5">
            <div class="container">
                    <!-- Example row of columns -->
                    <div class="row text-center">
                      <div class="col-md-4">
                        <img class="img-fluid" src="img/node.png" alt="" width="200" height="200">
                        <h2>Express</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda reiciendis ipsam numquam nisi quas! Rem?</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div>
                      <div class="col-md-4">
                            <img class="img-fluid" src="img/ejs.png" alt="" width="200" height="200">
                        <h2>EJS</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda reiciendis ipsam numquam nisi quas! Rem?</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div>
                      <div class="col-md-4">
                            <img class="img-fluid" src="img/bootstrap.png" alt="" width="200" height="200">
                        <h2>Bootstrap</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda reiciendis ipsam numquam nisi quas! Rem?</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div>
                    </div>
    </section>

    <% include partials/footer.html %>

    <!--BOOTSTRAP 4-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>